@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url(../fonts/OpenSans-SemiboldItalic.ttf);
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url(../fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(../fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url(../fonts/SourceSansPro-Italic.otf);
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url(../fonts/SourceSansPro-Semibold.otf);
}

@font-face {
  font-family: 'SourceSansPro-SemiboldItalic';
  src: url(../fonts/SourceSansPro-SemiboldItalic.otf);
}

/* line 62, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
body, div, ul, li, img, h1, h2, h3, h4, h5, h6, p, span {
  padding: 0;
  margin: 0;
}

/* line 66, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
ul {
  list-style-type: none;
}

/* line 69, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
a {
  text-decoration: none;
}

/* line 72, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
body {
  font-family: OpenSans-Regular;
}

/* line 75, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

/* line 79, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.container__row {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 83, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.container__col {
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 88, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.container--flex {
  display: flex;
}

/* line 91, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.container--relative {
  position: relative;
}

/* line 94, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.container--absolute {
  position: absolute;
  height: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* line 103, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header {
  width: 100%;
  height: 115vh;
}

/* line 106, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav {
  position: absolute;
  width: 100%;
  height: 132px;
  z-index: 99;
}

/* line 111, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav__logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 53px;
  width: 140px;
}

/* line 118, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav__logo img {
  width: 100%;
  height: 100%;
}

/* line 123, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

/* line 129, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav-menu__item {
  margin-left: 60px;
}

/* line 131, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav-menu__item a {
  font-size: 14px;
  color: #f4f5f9;
  text-transform: uppercase;
  padding: 20px 0;
  transition: 0.2s color;
}

/* line 137, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav-menu__item a::after {
  content: "";
  display: block;
  background-color: #e74c3c;
  height: 1px;
  width: 0%;
  transition: 0.2s width;
  margin-top: 20px;
}

/* line 147, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav-menu__item:first-child {
  margin-left: 0;
}

/* line 151, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav-menu__item--active a, .header-nav-menu__item:hover a {
  color: #e74c3c;
}

/* line 153, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-nav-menu__item--active a::after, .header-nav-menu__item:hover a::after {
  width: 100%;
}

/* line 161, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-slide {
  width: 100%;
  height: 115vh;
}

/* line 165, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-slide__image {
  position: absolute;
  background-image: url(../img/img_slide_bg.png);
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vh;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0, 100% 100vh, 50% 115vh, 0 100vh);
}

/* line 177, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-slide__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vh;
  background: #000;
  opacity: 0.7;
  clip-path: polygon(0% 0%, 100% 0, 100% 100vh, 50% 115vh, 0 100vh);
}

/* line 190, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-slide-list-item__button {
  width: 226px;
  height: 56px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: SourceSansPro-Regular;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  background: #e74c3c;
}

/* line 201, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.header-slide-list-item__button--transparent {
  background: transparent;
  border: 1px solid #e74c3c;
}

/* line 211, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about {
  width: 100%;
  height: 440px;
  box-sizing: border-box;
  padding: 110px 0;
}

/* line 216, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item {
  position: relative;
  width: 22%;
  margin-right: auto;
  color: blue;
}

/* line 221, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item__quad {
  position: absolute;
  top: 5px;
  left: 35%;
  width: 70px;
  height: 70px;
  border: 1px solid #e5e5e5;
  transition: 0.6s all;
}

/* line 231, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s all;
}

/* line 238, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item__content {
  position: absolute;
  top: 100px;
}

/* line 241, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item__content h3 {
  font-size: 18px;
  font-family: OpenSans-Semibold;
  color: #6a6a6a;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transition: color 0.6s;
}

/* line 249, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item__content h3::after {
  content: "";
  display: block;
  height: 1px;
  width: 40px;
  margin: 20px auto 18px;
  background: #6a6a6a;
}

/* line 258, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item__content p {
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #999;
  font-family: SourceSansPro-Light;
}

/* line 266, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item:last-child {
  margin-right: 0;
}

/* line 269, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item:hover .about-item__quad {
  border-color: #e74c3c;
  transform: rotate(45deg);
}

/* line 273, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item:hover .about-item__quad img {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* line 276, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.about-item:hover .about-item__content h3 {
  color: #e74c3c;
}

/* line 282, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.history {
  width: 100%;
  height: 690px;
  padding: 140px 0;
  box-sizing: border-box;
  border-top: 1px solid #e6e7eb;
}

/* line 288, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.history-box {
  width: 100%;
}

/* line 290, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.history-box img {
  height: 100%;
}

/* line 293, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.history-box h1 {
  font-size: 36px;
  font-family: SourceSansPro-Bold;
  color: #6a6a6a;
  border-left: 6px solid #e74c3c;
  padding-left: 30px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

/* line 302, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.history-box p {
  font-size: 14px;
  font-family: SourceSansPro-Regular;
  margin-bottom: 35px;
  color: #999;
  line-height: 2;
}

/* line 309, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.history-box button {
  width: 225px;
  height: 55px;
  background: #e74c3c;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: OpenSans-Bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 320, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.history-box button:focus {
  outline: none;
}

/* line 328, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service {
  width: 100%;
  height: 760px;
  background: #202020;
  position: relative;
}

/* line 333, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 46%;
  height: 100%;
  object-fit: cover;
}

/* line 341, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service-detail {
  position: relative;
  width: 54%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 150px;
}

/* line 347, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service-detail h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
  font-family: SourceSansPro-Bold;
  padding-right: 30px;
  margin-right: 80px;
  border-right: 6px solid #e74c3c;
  text-align: right;
  margin-bottom: 67px;
}

/* line 358, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service-detail-list {
  display: block;
  min-height: 500px;
}

/* line 361, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service-detail-list-item {
  position: relative;
  min-height: 75px;
  width: 100%;
  margin-bottom: 55px;
}

/* line 366, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service-detail-list-item__image {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 379, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service-detail-list-item__content {
  position: absolute;
  right: 80px;
  text-align: right;
}

/* line 383, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service-detail-list-item__content h4 {
  font-size: 18px;
  font-family: OpenSans-Semibold;
  color: #e74c3c;
  text-transform: uppercase;
  margin-bottom: 11px;
}

/* line 390, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.service-detail-list-item__content p {
  font-size: 14px;
  font-family: SourceSansPro-Regular;
  color: #999;
  max-width: 570px;
}

/* line 402, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work {
  min-height: 300px;
  padding-top: 140px;
}

/* line 405, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 62px;
}

/* line 410, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-list__item {
  font-size: 14px;
  text-transform: uppercase;
  font-family: OpenSans-Regular;
}

/* line 414, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-list__item span {
  color: #999;
  cursor: pointer;
}

/* line 418, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-list__item:after {
  content: "/";
  margin: 0 18px;
  display: inline-block;
}

/* line 424, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-list__item:last-child:after {
  content: none;
}

/* line 429, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-list__item:hover span, .work-list__item:active span, .work-list__item--active span {
  color: red;
}

/* line 435, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

/* line 439, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item {
  width: 25%;
  height: 25vw;
  position: relative;
  cursor: pointer;
}

/* line 444, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
}

/* line 452, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
  background: #e74c3c;
  opacity: 0.8;
  z-index: -1;
  transition: all 0.2s;
  color: #fff;
}

/* line 464, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item-overlay__detail {
  position: absolute;
  width: 25vw;
  left: 50px;
  bottom: 46px;
  display: none;
}

/* line 470, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item-overlay__detail h3 {
  font-family: SourceSansPro-Semibold;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/* line 475, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item-overlay__detail h3:before {
  content: "";
  height: 4px;
  width: 45px;
  display: block;
  margin-bottom: 23px;
  background: #fff;
}

/* line 484, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item-overlay__detail span {
  font-family: OpenSans-Regular;
  font-size: 14px;
}

/* line 491, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item:hover .work-profolio-item-overlay {
  width: 100%;
}

/* line 493, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.work-profolio-item:hover .work-profolio-item-overlay__detail {
  display: block;
}

/* line 503, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title h1 {
  font-size: 72px;
  font-family: OpenSans-Bold;
  width: 100%;
  text-align: center;
  color: #f4f5f9;
  text-transform: uppercase;
  letter-spacing: 10px;
}

/* line 513, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title h3 {
  font-size: 36px;
  font-family: SourceSansPro-Bold;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: #6a6a6a;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* line 523, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title span {
  font-size: 24px;
  font-family: SourceSansPro-Regular;
  color: #f4f5f9;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

/* line 532, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: OpenSans-Regular;
  color: #999;
  line-height: 1.5;
}

/* line 540, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title__separate {
  width: 7px;
  height: 7px;
  margin: 27px auto 0;
  background: #e74c3c;
  border-radius: 50%;
  position: relative;
}

/* line 547, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title__separate::before {
  position: absolute;
  right: 5%;
  bottom: 4px;
  content: "";
  display: inline-block;
  height: 1px;
  width: 80px;
  margin-right: 22px;
  background: #999;
}

/* line 558, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title__separate::after {
  position: absolute;
  left: 5%;
  bottom: 4px;
  content: "";
  display: inline-block;
  height: 1px;
  width: 80px;
  margin-left: 22px;
  background: #999;
}

/* line 570, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title--header {
  position: absolute;
  top: 200px;
  width: 100%;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
}

/* line 577, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title--header .title__separate {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* line 582, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title--header h1 {
  margin-top: 50px;
}

/* line 585, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title--header p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 580px;
  margin-top: 75px;
  color: #cbc6c0;
  text-align: center;
}

/* line 596, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title--white h3, .title--white p {
  color: #fff;
}

/* line 599, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.title--white .title__separate::before, .title--white .title__separate::after {
  background: #fff;
}

/* line 605, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count {
  position: relative;
  height: 510px;
  width: 100%;
}

/* line 609, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
}

/* line 618, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count__overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* line 626, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count-list {
  display: flex;
  margin-top: 150px;
}

/* line 629, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count-list-item {
  width: 12%;
  text-align: center;
  margin-right: auto;
}

/* line 633, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count-list-item__circle {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* line 647, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count-list-item__number {
  font-size: 30px;
  font-family: SourceSansPro-Bold;
  color: #fff;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

/* line 654, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count-list-item__text {
  font-size: 14px;
  font-family: SourceSansPro-Light;
  color: #fff;
  letter-spacing: 1px;
}

/* line 660, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.count-list-item:last-child {
  margin-right: 0;
}

/* line 667, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price {
  padding: 145px 0 140px;
}

/* line 669, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list {
  margin-top: 66px;
  display: flex;
}

/* line 672, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item {
  width: 32.5%;
  margin-right: auto;
}

/* line 675, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item__title {
  width: 100%;
  height: 205px;
  box-sizing: border-box;
  background: #999;
  font-family: OpenSans-Semibold;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 45px;
  text-align: center;
}

/* line 687, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item-detail {
  position: relative;
  background: #f4f5f9;
  padding: 120px 0 140px;
}

/* line 691, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item-detail__mark {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 154px;
  height: 154px;
  border-radius: 50%;
  background: #fff;
  background-clip: border-box;
  border: 10px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* line 706, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item-detail__mark h3 {
  font-size: 40px;
  color: #999;
  font-family: SourceSansPro-Bold;
}

/* line 711, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item-detail__mark p {
  font-size: 14px;
  color: #999;
}

/* line 717, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item-detail ul li {
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}

/* line 721, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item-detail ul li:last-child {
  margin-bottom: 0;
}

/* line 726, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item-detail button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 46px;
  border-radius: 2px;
  padding: 0 30px;
  background: #999;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/* line 745, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item--red .price-list-item__title {
  background: #e74c3c;
}

/* line 749, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item--red .price-list-item-detail h3 {
  color: #e74c3c;
}

/* line 752, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item--red .price-list-item-detail button {
  background: #e74c3c;
}

/* line 757, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.price-list-item:last-child {
  margin-right: 0;
}

/* line 764, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.team {
  width: 100%;
  height: 745px;
  padding-top: 150px;
  position: relative;
}

/* line 769, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.team__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -9;
}

/* line 778, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(32, 32, 32, 0.75);
}

/* line 789, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.client {
  width: 100%;
  height: auto;
  padding: 150px 0 140px;
  border-bottom: 1px solid #999;
}

/* line 794, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.client-list {
  margin-top: 65px;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
}

/* line 800, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.client-list-item {
  padding: 10px;
  width: 20%;
  box-sizing: border-box;
  height: 100px;
}

/* line 805, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.client-list-item__image {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 817, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.client-list-item__image img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.3s;
}

/* line 822, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.client-list-item__image:hover {
  background: #e74c3c;
}

/* line 824, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.client-list-item__image:hover img {
  filter: none;
  opacity: 1;
}

/* line 835, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study {
  width: 100%;
  height: 1190px;
  box-sizing: border-box;
  padding: 150px 0;
  background: #f4f5f9;
}

/* line 841, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box {
  margin-top: 67px;
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 846, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box__image {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 0;
}

/* line 853, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide {
  position: absolute;
  height: 627px;
  width: 57%;
  left: 0;
  top: 44px;
  background: #fff;
  z-index: 1;
}

/* line 861, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list {
  height: 100%;
}

/* line 863, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list-item {
  z-index: 9;
  height: 100%;
  text-align: center;
  padding: 0 60px;
  box-sizing: border-box;
  display: none;
}

/* line 870, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list-item__image {
  width: 90px;
  height: 90px;
  margin: 100px auto 0;
  background: #e74c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

/* line 879, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list-item__image img {
  max-height: 30px;
  transform: rotate(-45deg);
}

/* line 884, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list-item h3 {
  font-family: OpenSans-Semibold;
  font-size: 18px;
  margin-top: 70px;
  text-transform: uppercase;
  color: #6a6a6a;
  margin-bottom: 28px;
}

/* line 891, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list-item h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  margin: 0 auto;
  background: #6a6a6a;
  margin-top: 25px;
}

/* line 901, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list-item p {
  font-family: SourceSansPro-Light;
  font-size: 14px;
  color: #999;
  line-height: 1.7;
  margin-bottom: 50px;
}

/* line 908, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list-item button {
  background: #e74c3c;
  height: 46px;
  padding: 0 28px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-family: OpenSans-Semibold;
  font-size: 12px;
}

/* line 920, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-list-item--active {
  display: block;
}

/* line 925, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-dot {
  position: absolute;
  display: flex;
  z-index: 9;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 932, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-dot__item {
  color: #f4f5f9;
  margin-right: 10px;
  cursor: pointer;
}

/* line 936, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-dot__item--active {
  color: #e74c3c;
}

/* line 939, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-dot__item:last-child {
  margin-right: 0;
}

/* line 942, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.study-box-slide-dot__item i {
  height: 12px;
  width: 12px;
  color: inherit;
}

/* line 953, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog {
  width: 100%;
  padding-top: 100px;
}

/* line 956, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 961, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single {
  width: 50%;
  height: 25vw;
  display: flex;
}

/* line 965, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* line 971, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content {
  width: 50%;
  height: 100%;
  background: #e74c3c;
  color: #fff;
  position: relative;
  box-sizing: border-box;
  padding-left: 5.2%;
  padding-right: 5.2%;
  padding-top: 5.2%;
}

/* line 982, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content span {
  font-size: 14px;
  font-family: OpenSans-Regular;
}

/* line 986, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content h3 {
  font-size: 24px;
  font-family: SourceSansPro-Semibold;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 5%;
}

/* line 992, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content h3::after {
  content: "";
  display: block;
  margin-top: 15px;
  background: #fff;
  height: 4px;
  width: 45px;
}

/* line 1001, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content p {
  font-size: 16px;
  font-family: OpenSans-Regular;
}

/* line 1005, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content a {
  font-size: 18px;
  font-family: OpenSans-SemiboldItalic;
  color: #fff;
}

/* line 1009, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content a span {
  font-family: OpenSans-Semibold;
}

/* line 1013, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content::before {
  position: absolute;
  display: block;
  content: "";
  left: 1px;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 0;
  height: 0;
  border-right: 1.35vw solid #e74c3c;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
}

/* line 1026, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content::after {
  position: absolute;
  display: none;
  content: "";
  right: 1px;
  top: 50%;
  transform: translate(100%, -50%);
  width: 0;
  height: 0;
  border-left: 1.35vw solid #e74c3c;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
}

/* line 1040, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content--left::before {
  display: none;
}

/* line 1043, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.blog-profolio-single-content--left::after {
  display: block;
}

/* line 1052, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact {
  width: 100%;
  padding: 140px 0 150px;
  background: #f4f5f9;
}

/* line 1056, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 66px;
}

/* line 1061, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-address {
  width: 41%;
  box-sizing: border-box;
  padding: 92px 90px;
  background: #fff;
  border-radius: 3px;
  margin-right: auto;
  border: 1px solid transparent;
  box-shadow: 1px 5px 26px -3px rgba(0, 0, 0, 0.2);
}

/* line 1070, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-address__item {
  margin-bottom: 55px;
}

/* line 1072, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-address__item h1 {
  font-family: SourceSansPro-Semibold;
  color: #e74c3c;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

/* line 1079, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-address__item p {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #999;
}

/* line 1084, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-address__item:last-child {
  margin-bottom: 0;
}

/* line 1089, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-text {
  width: 57%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  padding: 90px 100px;
  box-shadow: 1px 5px 26px -3px rgba(0, 0, 0, 0.2);
}

/* line 1096, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-text input {
  width: 100%;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  color: #999;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}

/* line 1105, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-text input:focus {
  outline: none;
}

/* line 1109, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-text textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  color: #6a6a6a;
}

/* line 1117, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-text textarea::placeholder {
  font-family: OpenSans-Semibold;
  font-size: 14px;
}

/* line 1121, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-text textarea:focus {
  outline: none;
}

/* line 1125, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.contact-box-text button {
  height: 44px;
  padding: 0 26px;
  font-family: OpenSans-Bold;
  font-size: 14px;
  text-transform: uppercase;
  background: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* line 1141, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial {
  height: 480px;
  width: 100%;
  color: #fff;
  position: relative;
}

/* line 1146, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
}

/* line 1155, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: -1;
}

/* line 1165, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial__content {
  position: absolute;
  width: 100%;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 99;
}

/* line 1173, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial__content h3 {
  font-family: SourceSansPro-Light;
  font-size: 32px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

/* line 1178, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial__content h3 b {
  font-family: OpenSans-Bold;
}

/* line 1182, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial__content p {
  font-family: OpenSans-Regular;
  font-size: 16px;
  margin-bottom: 70px;
}

/* line 1187, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial__content button {
  font-size: 14px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  background: #e74c3c;
  color: #fff;
  letter-spacing: 0.5px;
  border: none;
  padding: 20px 50px;
  border-radius: 4px;
  cursor: pointer;
}

/* line 1198, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.trial__content button:focus {
  outline: none;
}

/* line 1205, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.footer {
  background: #202020;
  height: 90px;
  width: 100%;
  box-sizing: border-box;
}

/* line 1210, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.footer-social {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

/* line 1217, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.footer-social__item {
  font-size: 14px;
  color: #999;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.2s color;
}

/* line 1223, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.footer-social__item a {
  color: inherit;
}

/* line 1226, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.footer-social__item:hover {
  color: #e74c3c;
}

/* line 1229, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.footer-social__item:last-child {
  margin-right: 0;
}

/* line 1234, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.footer__author {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-family: OpenSans-Semibold;
  font-size: 14px;
}

/* line 1245, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.test {
  box-sizing: border-box;
  border: 1px dashed red;
}

/* line 1248, D:/PROJECT/HTML/html-bino/Bino/scss/style.scss */
.test--2 {
  border: 1px dashed blue;
}

/*# sourceMappingURL=../css/style.map */